body {
  font-family: "Poppins", sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  width: 280px;
  padding: 20px;
  margin: 0;
}

.popup-container h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

.popup-container p {
  font-size: 13px;
  color: #bbb;
  margin-bottom: 15px;
}

.animated-btn {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.animated-btn:hover {
  background-color: #27ae60;
}

#report {
  margin-top: 10px;
  font-size: 14px;
  color: #00ffcc;
}
